{% extends "base.html" %}

{% block title %}
Tizimga kirish
{% endblock title %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <label for="username">Username</label>
    <input type="text" placeholder="username kiriting ..." name="username" required>

    <br>
    <br>

    <label for="password">Parol</label>
    <input type="password" placeholder="Parol kiriting..." name="password" required>

    <button type="submit">Yuborish</button>
    <button type="reset">Tozalash</button>

    <h2>Hisob ochish<a href="{% url 'register %}">Ro'yxatdan o'tish uchun</a></h2>

</form>

{% endblock %}